.card {
    border: 1px solid #dadde1;
    border-radius: 20px;
    padding: 24px;
    width: 888px;
    display: flex;
    gap: 24px;
}

.card-img {
    border-radius: 10px;
    width: 292px;
    height: 320px;
    object-fit: cover;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.truck-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--text-default-color);
    margin-right: auto;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--text-default-color);
    margin-right: 12px;
}

.fav-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.info {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.description {
    color: #475467;
    margin-bottom: 24px;
}

.show-btn {
    border-radius: 200px;
    padding: 16px 40px;
    width: 166px;
    height: 56px;
    background-color: var(--button-backgroung-color);
    font-weight: 500;
    letter-spacing: -0.01em;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
    cursor: pointer;
}

.show-btn:hover {
    background-color: var(--button-backgroung-color-hover);
}
